[Unit]
Description=Discord Service

[Service]
Type=simple
ExecStart=/usr/bin/flatpak run com.discordapp.Discord --start-minimized 
ExecStop=/usr/bin/flatpak run com.discordapp.Discord
Restart=on-failure

[Install]
WantedBy=autostart.target
