[Unit]
Description=Discord X11 Service

[Service]
Type=simple
ExecStart=/opt/discord/Discord --start-minimized
Restart=on-failure

[Install]
WantedBy=autostart-x11.target
