[Unit]
Description=Discord Service

[Service]
Type=simple
ExecStart=/opt/discord/Discord --start-minimized 
Restart=on-failure

[Install]
WantedBy=autostart.target
