[Unit]
Description=Flameshot X11 Service

[Service]
Type=simple
ExecStart=/usr/bin/flameshot
Restart=on-failure

[Install]
WantedBy=autostart-x11.target
