[Unit]
Description=Picom X11 Service

[Service]
Type=simple
ExecStart=/usr/bin/picom --unredir-if-possible
Restart=on-failure

[Install]
WantedBy=autostart-x11.target
