[Unit]
Description=Playerctl Daemon Service

[Service]
Type=simple
ExecStart=/usr/bin/playerctld
Restart=on-failure

[Install]
WantedBy=autostart.target
