[Unit]
Description=Solaar Service

[Service]
Type=simple
ExecStart=/usr/bin/solaar --window=hide
Restart=on-failure

[Install]
WantedBy=autostart-x11.target autostart-wayland.target
