[Unit]
Description=Solaar Service

[Service]
Type=exec
ExecStart=/usr/bin/solaar --window=hide
Restart=on-failure

[Install]
WantedBy=autostart.target
