[Unit]
Description=Steam Service

[Service]
Type=simple
ExecStart=/usr/bin/flatpak run com.valvesoftware.Steam -silent
Restart=on-failure

[Install]
WantedBy=autostart.target
