[Unit]
Description=Steam Service

[Service]
Type=simple
ExecStart=/usr/bin/steam-runtime -silent
Restart=on-failure

[Install]
WantedBy=autostart.target
