[Unit]
Description=Swayidle Service
Before=sway-audio-idle-inhibit.service
BindsTo=sway-audio-idle-inhibit.service
PartOf=sway-audio-idle-inhibit.service

[Service]
Type=exec
ExecStart=/usr/bin/swayidle -w
Restart=on-failure

[Install]
WantedBy=autostart.target
