[Unit]
Description=Swayidle Service
After=swayidle.service
BindsTo=swayidle.service
PartOf=swayidle.service

[Service]
Type=exec
ExecStart=/usr/bin/sway-audio-idle-inhibit
Restart=on-failure

[Install]
WantedBy=autostart.target
