[Unit]
Description=Tidal Hifi X11 Service

[Service]
Type=simple
ExecStart=/opt/tidal-hifi/tidal-hifi
Restart=on-failure

[Install]
WantedBy=autostart-x11.target
