[Unit]
Description=Tidal Hifi Wayland Service

[Service]
Type=simple
ExecStart=/opt/tidal-hifi/tidal-hifi --enable-features=UseOzonePlatform --ozone-platform=wayland
Restart=on-failure

[Install]
WantedBy=autostart-wayland.target
