[Unit]
Description=Tidal Hifi Service

[Service]
Type=exec
ExecStart=/usr/bin/flatpak run com.mastermindzh.tidal-hifi
ExecStop=/usr/bin/flatpak kill com.mastermindzh.tidal-hifi
Restart=on-failure

[Install]
WantedBy=autostart.target
