[Unit]
Description=Tidal Hifi Service

[Service]
Type=simple
ExecStart=/opt/tidal-hifi/tidal-hifi
Restart=on-failure

[Install]
WantedBy=autostart.target
