[Unit]
Description=Waybar Service

[Service]
Type=exec
ExecStartPre=%h/.config/systemd/user/scripts/exec-start-pre/waybar-sensor-setup
ExecStart=/usr/bin/waybar
ExecStopPost=%h/.config/systemd/user/scripts/exec-stop-post/waybar-sensor-cleanup
Restart=on-failure

[Install]
WantedBy=autostart.target
