[user]
	email = zmazanv@proton.me
	name = Sebastián Zavala Villagómez
[init]
	defaultBranch = main

[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]	
	light = false
	line-numbers = true
	navigate = true
[merge]
	conflictstyle = diff3
	tool = nvimdiff
[diff]
	colorMoved = default
[rerere]
	enabled = true
