###############################################################################
# LISTA DE COMANDOS PARA ARRANQUE DE XORG.
###############################################################################
# LIST OF COMMANDS FOR XORG STARTUP.
###############################################################################
#------------------------------------------------------------------------------
# Automáticamente restaura los fondos de pantalla con nitrogen al arrancar
# Xorg.
#------------------------------------------------------------------------------
# Automatically restores wallpapers with nitrogen at Xorg startup.
#------------------------------------------------------------------------------
nitrogen --restore
#------------------------------------------------------------------------------
#
#------------------------------------------------------------------------------
# Automáticamente habilita picom al arrancar Xorg.
#------------------------------------------------------------------------------
# Automatically enables picom at Xorg startup.
#------------------------------------------------------------------------------
#picom --daemon --unredir-if-possible
#------------------------------------------------------------------------------
#
#------------------------------------------------------------------------------
# Inicia los servicios pertenecientes a autostart.target, los cuales inician
# aplicaciones de inicio en el fondo al arrancar Xorg.
#------------------------------------------------------------------------------
# Starts the services belonging to autostart.target, which start startup
# applications in the background at Xorg startup.
#------------------------------------------------------------------------------
systemctl --user restart autostart.target
#------------------------------------------------------------------------------
#
#------------------------------------------------------------------------------
# Automáticamente inicia Qtile al arrancar Xorg.
#------------------------------------------------------------------------------
# Automatically starts Qtile at Xorg startup.
#------------------------------------------------------------------------------
qtile start
#------------------------------------------------------------------------------
###############################################################################
